@import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



/* First section  */


.two-box{
    display: flex;
    /* border: 3px solid red; */
    margin: 0px auto;
    width: 1400px;
   
    box-shadow: 0px 3px 3px 3px rgb(232, 230, 230);

    /* must we have to set up 2 property for all section curraction */
}

.box-1{
    /* border: 2px solid red; */
    padding: 30px;
    margin-right: 250px;
  
}
.Mission-heading{
font-size: 50px;
border-left: 3px solid plum;
font-family: Anton;
}

.Mission-description{
    font-family: 'Courier New', Courier, monospace;
    /* border: 2px solid red; */
    width: 600px;
    padding: 10px;
    font-family: Lexend;
   
}

.main-btn{
    padding: 20px;
    width: 180px;
    /* height: 15px; */
    background-color: coral;
    color: aliceblue;
    border: none;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 30px;
}

.span{
    font-family: 'Courier New', Courier, monospace;
  
}
.This-year{
    color: tomato;
}


.box-2 img{
    width: 400px;
    height: 500px;
    /* padding: 30px; */
}
 
/* second section start here  */

.tree-box{
    /* border: 2px solid red; */

    margin: 0px auto;
    width: 1400px;
    margin-bottom: 30px;

}

.main-box{
    display: flex;
    gap: 20px;
}

.tree-box h1{
    text-align: center;
    font-family:cursive;
   
    /* border: 2px solid red; */
 
}

.box{
    /* border: 2px solid red; */
    width: 410px;
    padding: 20px;
    background-color: rgb(195, 220, 237);
    border-radius: 10px;
   
}
.box h2{
    font-family: Anton;
    color:rgb(242, 95, 68)
}
.box-description{

    width: 400px;
    font-family: Lexend;
    
}


.box img{
    width: 200px;
    height: 200px;
}

.focus{
    background-color: rgb(245, 189, 180);
}

.goal{
    background-color: rgb(195, 251, 198);
}

/* footer start from here */

.footer{
    background-color: rgb(92, 68, 68);
    color: aliceblue;
    padding: 20px;
    text-align: center;
    margin: 0px auto;
    width: 1350px;
    border-radius: 10px;
}

.foot{
    font-family: Lexend;
}
.spa{
    color: tomato;
}
.fooer-heading{
    font-family: Anton;
}




@media screen and (max-width:1170px) {

    .two-box{
        flex-direction: column;
        width: 580px;
      
    }
    .Mission-description{
        word-wrap: wrap;
        width: 400px;
    }
    .box-2 img{
        margin-left: 30px;
    }

    .tree-box{
        /* border: 2px solid red; */
    
        margin: 0px auto;
       
    
    }

    .main-box{
        flex-direction: column;
    }
    .tree-box h1{
       text-align: left;
        font-family:cursive;
     
    }

    .footer{
        margin-top: 20px;
        width: 410px; ;
    }
}

/* /* @media  screen and (min-width:577px) and (max-width:768) {
    .two-box{
        /* width: 1000px; */
    }
}  */